node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Env
*.local
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*