.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgb(8, 0, 0);
  text-decoration: none;

  @media (width >= 768px) {
    gap: 10px;
  }

  img {
    width: 25px;
    height: 22px;
  }

  span {
    font-size: 23px;
    font-weight: 549;
    line-height: 23px;
  }
}
